<div class="container container--extra-padding">
  <h1 class="card-title card-title--center">
    {{title}}
  </h1>
</div>

<div class="container container--extra-padding">
  <h4 class="card-title card-title--center">{{ indivRoad }}</h4>
  <div class="row" *ngFor="let roadId of roadIds">
    <div class="card card-block">
      <road [roadId]="roadId">
      </road>
    </div>
  </div>
</div>

<div class="container container--extra-padding">
  <h4 class="card-title card-title--center">{{ allRoads }}</h4>
    <div class="card card-block">
      <all-roads></all-roads>
    </div>
</div>

<router-outlet></router-outlet>
